APP_CONFIG__DATABASE__driver='postgresql+asyncpg'
APP_CONFIG__DATABASE__user='user'
APP_CONFIG__DATABASE__password='password'
APP_CONFIG__DATABASE__host='postgres'
APP_CONFIG__DATABASE__port='5432'
APP_CONFIG__DATABASE__db_name='dbname'
APP_CONFIG__CHAT_GPT__api_key='api_key'
APP_CONFIG__CHAT_GPT__model='gpt-3.5-turbo-0125'
